# Whitelist supported files only
**/*.*
!**/*.css
!**/*.html
!**/*.js
!**/*.jsx
!**/*.json
!**/*.less
!**/*.md
!**/*.scss
!**/*.ts
!**/*.tsx

# Unless they're somewhere we can ignore
build/
coverage/
coverage-package/
dist/
legacy-types/
lib-dist/
node_modules/
storybook-static/
